*.pyc
*.DS_Store
.idea
CACHE/
dev.db
files/
markdown_notes/staticfiles/
markdown_notes/media/

# Configurations
markdown_notes/local_settings.py
frontend/js/env.js

# Dependencies managers
frontend/bower_components
node_modules

# Mobile folders
mobile/platforms/
mobile/plugins/
mobile/www/build/
mobile/www/chcp*
mobile/.chcpenv