// Configuration file for the Frontend client
(function (window) {
    var env = {};

    // API url
    // -------
    // Hack for cordova development - when launched in browser platform it will use localhost
    // and when launched on mobile device it will use local ip of your PC for API requests.
    if (window.location.href.lastIndexOf('http://localhost', 0) === 0) {
        env.apiUrl = 'http://localhost:8000';
    } else {
        env.apiUrl = 'http://10.42.0.1:8000'; // Put your local IP
    }

    // Max size of pictures
    env.pictureMaxSize = 900;

    window.__env = env;
}(this));